.gitignore


# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

virt/
/virt
virt

# Environment variables
.env

# Output files
/output/

# System files
.DS_Store
